:root {
  --line: hsl(0 0% 95% / 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background: hsl(0 0% 2%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}

body::before {
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin, linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	transform: translate3d(0, 0, -100vmin);
	z-index: -1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}