* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: hsl(0 0% 2%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#cinnamon {
	position: relative;
}